@page
@model Ciudadanos_Sanos.Pages.RegistroCitas.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Registro Cita</h1>

<h3>¿Está seguro de que desea eliminar este registro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroCita.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistroCita.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroCita.Paciente.Nombre_Completo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistroCita.Paciente.Nombre_Completo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroCita.Medico.Nombre_Completo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistroCita.Medico.Nombre_Completo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroCita.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistroCita.Descripcion)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="RegistroCita.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Volver a la Lista</a>
    </form>
</div>

