@page
@model Ciudadanos_Sanos.Pages.Pacientes.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Está seguro de que desea eliminar este registro?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.Nombre_Completo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Nombre_Completo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.Cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Cedula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.Correo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Correo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Descripcion)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Paciente.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Cancelar</a>
    </form>
</div>
